SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=leonardoyassercontrerasroa@gmail.com
SMTP_PASS=rvgu ldgu eexu vyiy
RECIPIENT_EMAIL=leonardoyassercontrerasroa@gmail.com
FROM_EMAIL=leonardoyassercontrerasroa@gmail.com
# Añade tu API key de YouTube aquí. NO subas este archivo al repositorio público.
YT_API_KEY=
